[submodule "deps/nodeunit"]
	path = deps/nodeunit
	url = git://github.com/caolan/nodeunit.git
[submodule "deps/UglifyJS"]
	path = deps/UglifyJS
	url = git://github.com/mishoo/UglifyJS.git
[submodule "deps/async"]
	path = deps/async
	url = git://github.com/caolan/async.git
[submodule "deps/connect"]
	path = deps/connect
	url = git://github.com/senchalabs/connect.git
[submodule "deps/dispatch"]
	path = deps/dispatch
	url = git://github.com/caolan/dispatch.git
[submodule "deps/quip"]
	path = deps/quip
	url = git://github.com/caolan/quip.git
